<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Section21.Properties.Settings.en_dictionaryConnectionString"
            connectionString="Data Source=SS-LENO01\SSLENO;Initial Catalog=en_dictionary;User ID=Lessons;Password=1234;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Section21.Properties.Settings.phone_bookConnectionString"
            connectionString="Data Source=SS-LENO01\SSLENO;Initial Catalog=phone_book;User ID=Lessons;Password=1234;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>